
* {
    margin: 0;
    padding: 0;
}
 body{
    font-family:'Poppins', sans-serif;

}
.cabecalho{
    background-color: #f782bc;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
.choco-div{
    width: 35%;
}

.cabecalho-imagem{
 width: 1%,

}
.cabecalho {
 display: flex;
 margin: 0 0px;
 font-size: 30px;
}
.choco-titulo {
    padding: 24px 0;
    text-decoration: none;
    color:black;

}
.choco-texto {



}
.chocolate{
    background-image: linear-gradient(#f782bc,#e2067f);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24 px 0;
    font-size: 25px;

}
.estudante{
    padding: 24px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
.estudante-imagem{
    width: 150px;
}
.estudante-icone{
    width: 2%;
}


    

